body {
  font-family: sans-serif;
}

input {
  border-radius: 16px;
  border: none;
  padding: 6px 16px;
  outline: none;
}

button {
  border-radius: 16px;
  border: none;
  padding: 4px 16px;
}

button:hover {
  background-color: #3e4f87;
  color: #fff;
  cursor: pointer;
}

li {
  margin-right: 8px;
}

.incomplete-area {
  background-color: #72baa7;
  width: 400px;
  min-height: 200px;
  padding: 8px;
  margin: 8px;
  border-radius: 8px;
}

.complete-area {
  background-color: #edcfce;
  width: 400px;
  min-height: 200px;
  padding: 8px;
  margin: 8px;
  border-radius: 8px;
}

.title {
  text-align: center;
  margin-top: 0;
  font-weight: bold;
  color: #232121;
}

.list-row {
  display: flex;
  align-items: center;
  margin-bottom: 4px;
}

#complete-list li {
  text-decoration: line-through;
}
